@use '../base/reset';
@use '../themes/themes';

.App-dark,
.App-light {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);

  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: auto; 
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-text-color);
  border-radius: 10px;
}

.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-text-color) transparent;
}

.scrollable-element {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-text-color) transparent;
}

.error-message {
  color: #ff4d4f; // A bright red color for visibility
  background-color: #fff1f0; // A light red background color
  border: 1px solid #ffa39e; // A slightly darker border
  padding: 10px; // Some padding for spacing
  border-radius: 5px; // Rounded corners
  text-align: center; // Center the text
  margin: 20px; // Add some margin for spacing
  font-size: 16px; // Adjust the font size
  font-weight: bold; // Make the text bold
  height: 96vh;
}
