@use '../base/reset';
@use '../themes/themes';

.App-dark,
.App-light {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);

  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: auto; 
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-text-color);
  border-radius: 10px;
}

.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-text-color) transparent;
}

.scrollable-element {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-text-color) transparent;
}

.error-message {
  color: #ff4d4f;
  background-color: #fff1f0;
  border: 1px solid #ffa39e;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 20px; 
  font-size: 16px; 
  font-weight: bold; 
  height: 96vh;
}
